# /.gitignore

/scripts
/test.py
/backup

/*/__pycache__
/__pycache__

/datasets/AdvBenchM/images
/datasets/AdvBenchM/prompts
/datasets/AdvBenchM/scenario_def.json
/datasets/AdvBenchM/scenario_repr.json